<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>mat</title>
		<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/htmx-ext-sse@2.2.4" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

	</head>
	<body>

		<h1>mat</h1>
	
	</body>
</html>
